@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff');
  src:  url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-postgres:before {
  content: "\e908";
  color: #30648c;
}
.icon-react:before {
  content: "\e909";
  color: #53c1de;
}
.icon-django:before {
  content: "\e900";
  color: #44b78b;
}
.icon-firebase .path1:before {
  content: "\e901";
  color: rgb(255, 194, 74);
}
.icon-firebase .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(244, 189, 98);
}
.icon-firebase .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(246, 130, 12);
}
.icon-firebase .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(253, 224, 104);
}
.icon-firebase .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(252, 202, 63);
}
.icon-firebase .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(238, 171, 55);
}
.icon-heroku:before {
  content: "\e907";
  color: #430098;
}
.icon-python .path1:before {
  content: "\e913";
  color: rgb(56, 126, 184);
}
.icon-python .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 195, 49);
}
.icon-python .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-python .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rails:before {
  content: "\e917";
  color: #c00;
}
.icon-ruby:before {
  content: "\e919";
  color: #d91404;
}
.icon-tailwind:before {
  content: "\e91a";
  color: #07b6d5;
}
.icon-vue .path1:before {
  content: "\e91b";
  color: rgb(65, 184, 131);
}
.icon-vue .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(52, 73, 94);
}
