
/*! @import */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

.tooltip {
  visibility: hidden;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 50;
}
